.login {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.login_left {
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 425px;
	height: 411px;
	background: #38394e;
}

.loginForm {
	display: flex;
	flex-flow: column;
}

.login__input {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #c7c7c7;
	background: #5a5b70;
	padding: 15px 0px 15px 40px;
	border: none;
}

.login__inputName {
	margin-bottom: 26px;
}

.login__inputPwd {
	margin-bottom: 35px;
}

.login_title {
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 43px;
	color: #c7c7c7;
	margin: 58px 0 42px;
}

.login_right {
	display: flex;
	align-items: center;
	width: 425px;
	height: 411px;
	background: #fffefe;
}

.singIn__btn {
	background: #c035a2;
	border: none;
	border-radius: 4px;
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 29px;
	text-align: center;
	color: #ffffff;
	padding: 10px 0;
	cursor: pointer;
}
